<li class="collection-item city row
  <%= "coldest-city" if city[:lowest] %>
  <%= "hottest-city" if city[:highest] %>
  ">
  <span class="city-name col offset-s1 s8"><%= city[:name] %></span>
  <span class="city-temperature col s2 badge">
    <span class="right"><%= city[:celcius]%>°</span>
  </span>
</li>
