// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meteo {
  .metric {
    ul.tabs .indicator {
      height: 3px;
    }

    .menu>.row {
      margin-bottom: 0;
    }
  }
  
  $city-transition-time: 0.3s;
  .coldest-city, .hottest-city {
    opacity: 1;
    @include transition( opacity $city-transition-time ease-in-out );
  }
  .unrelated-city {
    opacity: 0.1;
    @include transition( opacity $city-transition-time ease-in-out );
  }
}
