<!DOCTYPE html>
<html>
<head>
  <title>lasoirée@météo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">lasoirée@météo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a target="_blank" href="//ici.radio-canada.ca/emissions/la_soiree_est_encore_jeune/">La soirée est (encore) jeune</a></li>
      </ul>
    </div>
  </nav>
</header>

<main class="cyan lighten-5">
  <%= yield %>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Bénéfique pour les contribuables en sauvant 5 minutes à la préparation des 4 heures de radio de 
          <a class="cyan-text text-accent-1" target="_blank" href="https://twitter.com/FredSavard">@FredSavard.</a>
        </p>
      </div>
      <div class="col l2 offset-l4 s12 right right-align grey-text text-lighten-3">
        <ul>
          <li>sources sur <a class="cyan-text text-accent-1" href="//github.com/JesseEmond/lasoiree-meteo">GitHub</a></li>
          <li>fait par <a class="cyan-text text-accent-1" href="//emondjesse.me">Jesse Emond</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
