<!DOCTYPE html>
<html>
<head>
  <title>LasoireeMeteo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="blue lighten-5">
   <nav class="blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">lasoiree@meteo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="//ici.radio-canada.ca/emissions/la_soiree_est_encore_jeune/">La soirée est (encore) jeune</a></li>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
